.carousel-sec {
  width: 90%;
  margin: auto;
  margin-top: 20px;
}

#carousel-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#carousel-item-img {
  width: 50%;
}

#carousel-item-text-right {
  width: 50%;
  padding: 50px;
  font-size: 40px;
}

#carousel-item-text-left {
  width: 50%;
  padding: 50px 0px 50px 100px;
  font-size: 40px;
}

.mid-section {
  padding-top: 20px;
}

.best-fare {
  text-align: center;
  background: #e6f7f3;
  color: #0c71c3;
  font-size: 35px;
  font-weight: 700;
  padding: 25px 0px;
}

.best-fare-cards {
  margin-top: -10px;
  padding: 50px 0px;
  background: #30a1db;
}

.best-fare-cards > div {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  align-items: center;
  gap: 5%;
}

.best-fare-card {
  background: #ffffff;
  padding: 20px;
  border-radius: 50px 0px 50px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.best-fare-card > div:nth-child(1) {
  width: 60%;
}

.best-fare-card > div:nth-child(2) {
  width: 100%;
  margin-top: 20px;
}

.best-fare-card > div:nth-child(2) h4 {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
}

.best-fare-card > div:nth-child(2) p {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  margin-top: 20px;
}

.vision-box,
.mission-box {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

.mission-box {
  flex-direction: row-reverse;
}

.vision-box > div:nth-child(1),
.mission-box > div:nth-child(1) {
  width: 30%;
}

.vision-box > div:nth-child(2),
.mission-box > div:nth-child(2) {
  width: 50%;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .carousel-sec {
    width: 95%;
    margin: auto;
    margin-top: 20px;
  }

  #carousel-item-text-right {
    width: 50%;
    padding: 50px;
    font-size: 30px;
  }

  #carousel-item-text-left {
    width: 50%;
    padding: 50px 0px 50px 100px;
    font-size: 30px;
  }
}

@media screen and (max-width: 900px) {
  #carousel-item-text-right {
    padding: 30px;
    font-size: 20px;
  }

  #carousel-item-text-left {
    padding: 30px 0px 30px 60px;
    font-size: 20px;
  }

  .best-fare-cards > div {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 500px) {
  #carousel-item-text-right {
    padding: 15px;
    font-size: 16px;
  }

  #carousel-item-text-left {
    padding: 15px 0px 15px 30px;
    font-size: 16px;
  }

  .best-fare-cards > div {
    grid-template-columns: repeat(1, 1fr);
    gap: 1%;
  }
}

@media screen and (max-width: 600px) {
  .vision-box,
  .mission-box {
    flex-direction: column;
  }

  .vision-box > div:nth-child(1),
  .mission-box > div:nth-child(1) {
    width: 80%;
  }

  .vision-box > div:nth-child(2),
  .mission-box > div:nth-child(2) {
    width: 80%;
    text-align: center;
  }
}
